<?xml version="1.0" ?>
<config>
    <modules>
        <CodeDrop_CallRequest>
            <version>1.0.2</version>
        </CodeDrop_CallRequest>
    </modules>
    <global>
        <blocks>
            <callrequest>
                <class>CodeDrop_CallRequest_Block</class>
            </callrequest>
        </blocks>
        <models>
            <codedrop_callrequest>
                <class>CodeDrop_CallRequest_Model</class>
                <resourceModel>codedrop_callrequest_resource</resourceModel>
            </codedrop_callrequest>
            <codedrop_callrequest_resource>
                <class>CodeDrop_CallRequest_Model_Resource</class>
                <entities>
                    <phone>
                        <table>call_request</table>
                    </phone>
                </entities>
            </codedrop_callrequest_resource>
        </models>
        <resources>
            <codedrop_callrequest_setup>
                <setup>
                    <module>CodeDrop_CallRequest</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </codedrop_callrequest_setup>
        </resources>
        <helpers>
            <callrequest>
                <class>CodeDrop_CallRequest_Helper</class>
            </callrequest>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <callrequest module="callrequest">
                    <file>callrequest.xml</file>
                </callrequest>
            </updates>
        </layout>
        <routers>
            <callrequest>
                <use>standard</use>
                <args>
                    <module>CodeDrop_CallRequest</module>
                    <frontName>callrequest</frontName>
                </args>
            </callrequest>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <siteblocks after="Mage_Adminhtml">CodeDrop_CallRequest_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <callrequest>
            <settings>
                <enabled>1</enabled>
            </settings>
        </callrequest>
    </default>
</config>
